body {
	margin: 0;
	padding: 0;
}
#game {
	width: 100%;
	height: 100%;
	background-image:url('../images/background.png');
	background-size: 100% 100%;
	margin: auto;
	position: absolute;
}

#player {
	position: absolute;
	margin: auto;
	background-size: 100% 100%;
	width: 60px;
	height: 60px;
	top: 65%;
	left: 50%;
}

.left {
		background-image: url("../images/theplayer.gif");
}

.right {
	background-image: url("../images/theplayer-right.gif");
}
