#game {
	width: 100%;
	height: 100%;
	background-image:url('../images/background.png');
	background-size: 100% 100%;
	margin: auto;
	position: absolute;
}

.player {
	position: absolute;
	margin: auto;
	background-image: url("../images/theplayer.gif");
	background-size: 100% 100%;
	width: 20px;
	height: 20px;
	top: 65%;
	left: 50%;
}

.taxi {
	position: absolute;
	margin: auto;
	background-color: yellow;
	width: 20px;
	height: 20px;
	top: 65%;
	left: 50%;
}

